<html>
    <head>
        <title>Maddie's Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        
        <div>
            <p>published: 04.06.2019, 11:40</p>
            <h2><a href="">My first post</a></h2>
            <p>So much latiny text goes here. Oh my goodness: text.</p>
        </div>
        
        <div>
            <p>published: 04.06.2019, 11:40</p>
            <h2><a href="">My second post</a></h2>
            <p>So much more latiny text in this post. Yep, more latin.</p>
        </div>
    </body>
</html>
